* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/*-------------------------------------------------------INDEX-----------------------------------------------------*/

body {
    width: 100%;
    height: 100vh;


}

.formulario-izquierdo {
    width: 60%;
    height: 100%;
    float: left;
    background: url('../assets/images/fondo1.jpg') no-repeat center;
    background-size: cover;

}

.formulario-izquierdo img {
    width: 100%;
    height: 82%;
    margin-top: 15%;
    margin-left: 12%;

}



.formulario-derecho {
    width: 40%;
    height: 100%;
    margin: 0%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.formulario-derecho img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 50%;
    margin: 10%;
   
}

.formulario-derecho form {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario-derecho h1 {
  position: static;
    font-size: 2em;
    color: #30ABB1;
    margin: 2% 62%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.formulario-derecho form>input {
    width: 100%;
    padding: 8px 0;
    font-size: 1em;
    border: 0;
    outline:0;
    margin: 20px 0;
    border-bottom: 2px solid rgba(34, 33, 33, 0.3);
}

input:hover{
    color:rgb(136, 129, 129);
    
}


#boton1 {
    background-color: #30ABB1;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    width: 100%;
    margin: 20px;

}

#boton1:hover {
    background-color: rgb(67, 211, 216);
    box-shadow: 1px 1px 1px #0fcfff;
}

a {

    color: #067d81;
}

@media only screen and (max-width: 1223px) {
    .formulario-izquierdo {
        display: none;
    }

    .formulario-derecho {
        width: 100%;
    }

    .formulario-derecho form {
        width: 70%;
        padding: 1em;
    }

  
}




/*-------------------------------------------------PRINCIPAL-----------------------------------------------------------------------*/

@media (max-width: 768px) {
    .navbar-nav>li:hover {
        background-color: #3aeaf0;
    }
    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }
    .navbar-toggler {
        border: none;

    }
    
.Grafica{
   display: none; 

}
.tabla{
    
    display: flex;
    align-content: center;
    justify-content: center
   
}
.detalles{
    display: flex;
    align-content: center;
    justify-content: center;
    
}
}

@media(max-width:395px){
    
    .tabla{
        width: 100%;
        
    }
    
   
}

/*Titulo*/
#titulo{
    font-size: 200%;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #067d81;
    left: 13%;
    top: 15%;
    position: absolute;
}

/*------Buscador-----*/

.buscado {
	position: absolute;
	left: 85%;
	top: 65%;
	transform: translate(-50%,-50%);
	padding: 10px;
}

#barra {
	outline: none;
	box-sizing: border-box;
	height: 60px;
	width: 0px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid #067d81;
	transition: all .7s ease;
}

::placeholder {
	color: grey;
}

.boton {
	position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background-color: #2996b8;
    line-height: 80px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
    
}

.boton i {
	font-size: 29px;
	color: rgb(255, 255, 255);
	line-height: 80px;
	transition: all .7s ease;
}


.buscado:hover #barra{
	width: 350px;
}

.buscado:hover i{
	transform: rotate(-360deg);
}

.boton:hover{
	background: #2db8e2;
}


/**/





#menuLateral{
    
 background-color: #30ABB1;
      
}
    #prueba {
      background-color: #30ABB1;
    }





.Grafica {
    margin-top: -7%;
    margin-left:40%;
}


.board {

    width: 40%;
    height: 450px;
    background-color: #ffffff;
    padding: 1px;
    box-sizing: border-box;
    overflow: hidden;
}



.sub_board {
    width: 100%;
    height: 90%;
    padding: 10px;
    background-color: #ffffff;
    overflow: hidden;
    box-sizing: border-box;
}

.sep_board {
    width: 100%;
    height: 10%;
}

.cont_board {
    width: 100%;
    height: 80%;
}

.graf_board {
    width: 85%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    display: flex;


}

.barra {
    width: 100%;
    height: 100%;
    margin-right: 10px;   
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.sub_barra {
    width: 100%;
    background: #30ABB1;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.tag_g {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-top: -20px;
    z-index: 2;
}



.b1 {
    height: 40%
}

.b2 {
    height: 20%
}

.b3 {
    height: 30%
}


.tabla{
    
    position:fixed;
    top: 19%;
    left: 90px;
    margin: 90px;
    border: "1";
    width: 20%;
    height: 20%;
    
}

.detalles{
    top: 25%;
    left: 13%;
    position: fixed;
    font-size: large;
    font-weight: 800;

}


h1{
    top:10%;
    left: 14%;
    position: fixed;
    

}

#imagenes{
    display: flex;
    width: 1300px;
    height: 200px;
    margin-left: 1%;
    margin-top: 8%;

}

#imagenes img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    
}

#imagenes img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

#impresoras{
    display: flex;
    width: 1300px;
    height: 200px;
    margin-left: 1%;
    margin-top: 2%;
}

#impresoras img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    
}

#impresoras img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);

}

#titulo1{
    left: 3%;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 0%;
    color: #067d81;
    
}
#titulo2{
    left: 3%;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 11%;
    color: #067d81;
    
}
#titulo3{
    left: 3%;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 11%;
    color: #067d81;
    
}


/*--------------------------------------------------------------Restablecer -----------------------------------------------*/




#correo {
    position: relative;
    height: 40px;
    width: 45px;
    left: 40px;
    top: 60px;
}



#mujer {
    position: fixed;
    height: 500px;
    left: 700px;
  
}

/**/
